.bag {
    section {
        .bagIcon {
            font-size: 25px;
            position: relative;
            color: #8E8E8E;

            span {
                position: absolute;
                top: 0;
                background-color: #bbb5d7;
                color: #ffff;
                border-radius: 50%;
                padding: 2px 6px;
                font-size: 13px;

            }
        }

        .card {
            font-size: 15px;

            img {
                height: 210px;
                width: 160px;
            }

            .form-control {
                background-color: #bbb5d7;
                color: #ffff;
            }

            button {
                color: #bbb5d7;
                font-size: 18px;
                border: none;
                box-shadow: none;
                background-color: transparent;

                &:disabled {
                    color: rgba($color: #bbb5d7, $alpha: 0.5);
                }
            }
        }
    }
}