body {
    font-family: 'Open Sans', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;

    --scrollbarBG: #ffff;
    --thumbBG: #bbb5d7;
}

body::-webkit-scrollbar {
    width: 8px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);

    // border-radius: 6px;
    // border: 3px solid var(--scrollbarBG);
}

section {

    .bagIcon {
        font-size: 25px;
        position: relative;
        color: #8E8E8E;

        span {
            position: absolute;
            top: 0;
            background-color: #bbb5d7;
            color: #ffff;
            border-radius: 50%;
            padding: 2px 6px;
            font-size: 13px;

        }
    }

    .card {
        img {
            height: 300px;
        }

        .card-body {
            padding: 0;
            font-size: 12px;

            .card-text {
                font-size: 12px;
            }

            .price {
                font-weight: 600;
            }

            .btn {
                background-color: transparent;
                color: #bbb5d7;
                border: none;
                box-shadow: none;

                &:focus,
                &:active {
                    background-color: transparent;
                    color: #bbb5d7;
                    border: none;
                    box-shadow: none;
                }

            }

        }
    }
}