.navbar-dark {
    .navbar-brand {
        img {
            width: 90px;
        }
    }


    .navbar-nav {
        .nav-link {
            color: rgba(255, 255, 255, 1);

            &:hover {
                color: #bbb5d7;
            }
        }
    }

    form {
        .form-control {
            border-radius: 0;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            margin-right: 0;
        }

        .search-icon {
            background-color: #bbb5d7;
            color: #ffff;
            padding: 7px 10px;
            font-size: 12px;
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }

        .mr-sm-2,
        .mx-sm-2 {
            margin-right: 0 !important;
        }
    }

    .color {
        color: #bbb5d7;
    }
}

.login {
    h3 {
        font-weight: 600;
        font-size: 40px;
    }

    .loginImg {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .loginForm {
        padding: 2rem;
        background-color: #bbb5d7;
        border-radius: 5px;
        width: 100%;
        height: 100vh;

        .form {
            margin-top: 5rem;

            .vs-input {
                width: 100%;
            }

            .vs-button {
                width: 50%;
            }
        }

        button {
            background-color: rgba($color: #000000, $alpha: 0.8);
            color: #ffffff;
        }
    }
}