<template>
  <div class="bag">
    <header><Navbar /></header>
    <section class="mt-5">
      <b-container>
        <b-row>
          <b-col md="3" class="ml-auto"
            ><b-link to="/bag" class="bagIcon mb-3">
              <i class="fas fa-shopping-bag"></i>
              <span>{{ count }}</span>
            </b-link></b-col
          >
        </b-row>
        <b-row v-for="(item, index) in cart" :key="index">
          <b-col md="8">
            <b-card
              :img-src="item.image"
              img-alt="Card image"
              img-left
              class="mb-3"
            >
              <b-row>
                <b-col md="8">
                  <b-card-text class="pt-2 p-0">
                    <p>{{ item.name }}</p>
                    <p>{{ item.price }}</p>
                  </b-card-text>
                </b-col>
                <b-col md="4 mt-2">
                  Number of quantity
                  <b-button
                    @click="decrement(item)"
                    :disabled="item.quantity < 2"
                  >
                    <i class="fas fa-minus-square"></i>
                  </b-button>
                  {{ item.quantity }}
                  <b-button @click="increment(item)">
                    <i class="fas fa-plus-square"></i>
                  </b-button>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import Navbar from "../components/Navbar";

export default {
  components: {
    Navbar,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState(["count", "cart"]),
  },
  methods: {
    ...mapActions(["incrementCount", "decrementCount"]),

    increment(item) {
      // increment total number of items in shopping cart
      this.incrementCount();

      // increment quantity of the selected item
      item.quantity += 1;
      const itemIndex = this.cart.indexOf(item);
      this.cart.splice(itemIndex, 1, item);

      // set new array in local storage
      localStorage.cart = JSON.stringify(this.cart);
    },
    decrement(item) {
      this.decrementCount();

      item.quantity -= 1;
      const itemIndex = this.cart.indexOf(item);
      this.cart.splice(itemIndex, 1, item);

      localStorage.cart = JSON.stringify(this.cart);
    },
  },
};
</script>
<style lang="sass" >
@import "../styles/bag.scss"
</style>