<template>
  <div class="home">
    <header><Navbar /></header>
    <section class="mt-5">
      <b-container>
        <Card :products="data" :clicked="clicked" :add="add"></Card>
      </b-container>
    </section>
  </div>
</template>

<script>
import axios from "../axios";
import Navbar from "../components/Navbar";
import { mapActions, mapState } from "vuex";
import Card from "../components/productCard";
export default {
  components: {
    Navbar,
    Card,
  },
  data() {
    return {
      clicked: [],
      counts: 0,
      quantity: 0,
      data: [],
    };
  },
  computed: {
    ...mapState(["count", "products"]),
  },
  mounted() {
    if (localStorage.getItem("clicked")) {
      try {
        this.clicked = JSON.parse(localStorage.getItem("clicked"));
      } catch (e) {
        localStorage.removeItem("clicked");
      }
    }
  },
  created() {
    axios
      .get("products/")
      .then((res) => {
        this.data = res.data;
        console.log(this.data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    ...mapActions(["addProduct", "incrementCount"]),

    add(item) {
      this.clicked.push(item.id);
      const { name, image, price, quantity } = item;
      const payload = {
        name,
        image,
        price,
        quantity,
      };

      this.addProduct(payload);
      this.saveClicked();
      this.incrementCount();
    },
    saveClicked() {
      const parsed = JSON.stringify(this.clicked);
      localStorage.setItem("clicked", parsed);
    },
  },
};
</script>
<style lang="sass" >
@import "../styles/home.scss"
</style>
