<template>
  <b-container fluid class="p-0 login" style="overflow: hidden">
    <b-row align-h="center">
      <b-col md="6" class="loginImg">
        <img :src="require('../images/login.png')" alt="" />
      </b-col>
      <b-col md="6" class="loginForm Pt-5">
        <h3>FASHION</h3>
        <b-row align-h="center" class="align-items-center">
          <form action="/home" @submit.prevent="checkForm" class="p-5">
            <div class="content-inputs">
              <b-row align-h="center" class="form">
                <b-col md="8" class="mb-3">
                  <vs-input v-model="form.email" placeholder="Email">
                    <template #icon>
                      <i class="fas fa-envelope"></i>
                    </template>
                  </vs-input>
                </b-col>

                <b-col md="8">
                  <vs-input
                    type="password"
                    v-model="form.password"
                    placeholder="Password"
                  >
                    <template #icon>
                      <i class="fas fa-lock"></i>
                    </template> </vs-input
                ></b-col>
                <b-col md="8">
                  <p v-for="error in errors" :key="error">
                    {{ error }}
                  </p></b-col
                >
                <b-col md="8">
                  <vs-button flat class="px-3 mt-5"> Login </vs-button></b-col
                >
              </b-row>
            </div>
          </form></b-row
        >
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from "../axios";
export default {
  name: "Login",
  beforeRouteEnter(to, from, next) {
    if (localStorage.getItem("token")) {
      next({ name: "Home" });
    } else {
      next();
    }
  },
  data: () => ({
    form: {
      email: "",
      password: "",
    },
    active: 0,
    errors: null,
  }),
  methods: {
    checkForm() {
      this.errors = [];

      if (!this.form.email) {
        this.errors.push("Email required.");
      } else if (!this.validEmail(this.form.email)) {
        this.errors.push("Valid email required.");
      }
      if (!this.form.password) {
        this.errors.push("Password required.");
      } else if (this.form.password.length < 5) {
        this.errors.push("Password must be larger than 5.");
      }
      axios
        .post("users/login", {
          email: this.form.email,
          password: this.form.password,
        })
        .then((res) => {
          localStorage.setItem("token", res.data.token);
          if (localStorage.getItem("token")) {
            this.$router.push({ name: "Home" });
          }
        })
        .catch(() => {
          this.errors.push("not valid");
        });

      if (!this.errors.length) {
        return true;
      }
    },

    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
<style lang="sass" >
@import "../styles/navbar.scss"
</style>

        