<template>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand>
      <b-img :src="require('../images/FASHION.png')"></b-img
    ></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-link to="/" class="nav-link">Clothing</b-link>
        <b-link to="#" class="nav-link">Shoes</b-link>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto mr-5">
        <b-nav-form>
          <b-form-input
            size="sm"
            class="mr-sm-2"
            placeholder="Search"
          ></b-form-input>
          <div class="search-icon"><i class="fas fa-search"></i></div>
        </b-nav-form>
        <b-link class="ml-2 mt-1 color" @click="logout"> Logout </b-link>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  data: () => ({
    active: 0,
  }),
  methods: {
    logout() {
      if (localStorage.getItem("token")) {
        localStorage.removeItem("token");
      }
      this.$router.push({ name: "Login" });
    },
  },
};
</script>
<style lang="sass" >
@import "../styles/navbar.scss"
</style>
