<template>
  <b-row>
    <b-col lg="4" md="12" v-for="(item, index) in products" :key="index">
      <b-card
        :img-src="item.productImage"
        img-alt="dress"
        img-top
        style="max-width: 18rem"
        class="mb-2"
        img-fluid
      >
        <b-card-text class="mt-3">
          <p>{{ item.name }}</p>
        </b-card-text>
        <b-row>
          <b-col md="12">
            <p class="mt-2 price">US$ {{ item.price }}</p>
          </b-col>
        </b-row>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
export default {
  props: {
    products: Array,
    clicked: Array,
    add: Function,
  },
};
</script>
<style lang="sass" >
@import "../styles/home.scss"
</style>